extends layout

block style
	style.
		body{
			overflow: hidden;
		}
		canvas{
			background-image: url('#{data.route}');
			background-repeat:  no-repeat;
			background-size: 800px 600px;
			cursor: crosshair;
		}
		#rw{
			max-height: 100%;
			overflow: auto;
		}
		.select2{
			margin-bottom: 10px;
		}

		#contextMenu{
			z-index: 9999;
			border-radius: 5px;
			position: absolute;
			padding: 5px;;
			/*display: none;*/
		}
		#contextMenu li{
			text-align: center;
			padding: 3px 8px;
			border-radius: 5px;
			cursor: pointer
		}
		#contextMenu li:hover{
			background-color: #bdbdbd;
		}


block content
	.row
		//pre #{data.data}
		.col.m3#rw
			ul.collapsible(data-collapsible='accordion')
				li(v-for="structure, index in structures")
					.collapsible-header(@click="_structure = index;  _draw = false; render();")
						span.green-text
							i.material-icons insert_photo
						| {{structure._structureName}}
						a.red-text.text-darken-1(@click="confirm(index, structure._brandId);")
							i.material-icons.right cancel
					.collapsible-body
						span
							.input-field
								textarea#textarea1.materialize-textarea(v-model="structure._brandDescription")
								label(for='textarea1') Descripción
							select.systems(style="width: 100%;", onchange="getStructures(this.value, this);", v-bind:data-index="index")
							select(style="width: 100%;", v-bind:id="index", onchange="checkStructure(this.value, this);")
			//pre.col.s12 {{$data}}
		.col.m9
			.center
				canvas#canvas(width="800" height="600" )
		.col.m3
	.fixed-action-btn.click-to-toggle
		a.btn-floating.btn-large.red
			i.material-icons menu
		ul
			li
				a.btn-floating.yellow.darken-1.waves-effect.waves-light(href="javascript:addPolygon();")
					i.material-icons add
			li
				a.btn-floating.green.waves-effect.waves-light(href="javascript:addStructure();")
					i.material-icons add_to_photos
			li
				a.btn-floating.blue.waves-effect.waves-light(href="javascript:save(false);")
					i.material-icons save

	#confirm.modal
		.modal-content
			h4 Confirmación
			p ¿Desea eliminar este marcaje?
		.modal-footer
			a#btnAcept.waves-effect.waves-light.btn-flat.blue-text.text-darken-3
				| Aceptar
			a.modal-action.modal-close.waves-effect.waves-light.btn-flat.red-text.text-darken-3
				| Cancelar
	ul#contextMenu.white(onmouseleave="$(this).hide(400);")


block js
	script.
		var imageId = "#{data.Id_Image}";
		var json = ("#{data.data}");
		json = json.replace(/&quot;/g,'"');
		json = JSON.parse(json);
		_structures = json;
		vueMarking();
		render();
		var jsonStructures = "#{data.structures}";
		jsonStructures = jsonStructures.replace(/&quot;/g,'"');
		jsonStructures = JSON.parse(jsonStructures);
		$('.systems').select2({
			data: jsonStructures
		});
		$('.modal').modal();
